In [3]:
import pandas as pd

In [4]:
#importing moves dataset from kaggle
pokeset_w_moves = "/Users/felix/Downloads/archive(2)/pokedex.csv"

In [5]:
poke_moves_df = pd.read_csv(pokeset_w_moves)

In [6]:
poke_moves_df.head()

,Id,Name,Type 1,Type 2,Abilities,Category,Height (ft),Height (m),Weight (lbs),Weight (kg),...,Egg Steps,Exp Group,Total,HP,Attack,Defense,Sp. Attack,Sp. Defense,Speed,Moves
0,1,Bulbasaur,Grass,Poison,"Overgrow,Chlorophyll",Seed Pokémon,"2'04""",0.7,15.2,6.9,...,5120,Medium Slow,318,45,49,49,65,65,45,"{'Tackle': {'Type': 'Normal', 'Level': '—', 'P..."
1,2,Ivysaur,Grass,Poison,"Overgrow,Chlorophyll",Seed Pokémon,"3'03""",1.0,28.7,13.0,...,5120,Medium Slow,405,60,62,63,80,80,60,"{'Tackle': {'Type': 'Normal', 'Level': '—', 'P..."
2,3,Venusaur,Grass,Poison,"Overgrow,Chlorophyll",Seed Pokémon,"6'07""",2.0,220.5,100.0,...,5120,Medium Slow,525,80,82,83,100,100,80,"{'Petal Dance': {'Type': 'Grass', 'Level': 'Ev..."
3,4,Charmander,Fire,NaN,"Blaze,Solar Power",Lizard Pokémon,"2'00""",0.6,18.7,8.5,...,5120,Medium Slow,309,39,52,43,60,50,65,"{'Scratch': {'Type': 'Normal', 'Level': '—', '..."
4,5,Charmeleon,Fire,NaN,"Blaze,Solar Power",Flame Pokémon,"3'07""",1.1,41.9,19.0,...,5120,Medium Slow,405,58,64,58,80,65,80,"{'Scratch': {'Type': 'Normal', 'Level': '—', '..."

In [7]:
len(poke_moves_df)

809

In [8]:
column_names = list(poke_moves_df.columns.values)
column_names

['Id',
 'Name',
 'Type 1',
 'Type 2',
 'Abilities',
 'Category',
 'Height (ft)',
 'Height (m)',
 'Weight (lbs)',
 'Weight (kg)',
 'Capture Rate',
 'Egg Steps',
 'Exp Group',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Attack',
 'Sp. Defense',
 'Speed',
 'Moves']

In [11]:
#extracting only the columns we care about
moves_df = poke_moves_df[['Name','Moves']]
moves_df.head()

         Name                                              Moves
0   Bulbasaur  {'Tackle': {'Type': 'Normal', 'Level': '—', 'P...
1     Ivysaur  {'Tackle': {'Type': 'Normal', 'Level': '—', 'P...
2    Venusaur  {'Petal Dance': {'Type': 'Grass', 'Level': 'Ev...
3  Charmander  {'Scratch': {'Type': 'Normal', 'Level': '—', '...
4  Charmeleon  {'Scratch': {'Type': 'Normal', 'Level': '—', '...

In [12]:
%store moves_df

Stored 'moves_df' (DataFrame)

In [13]:
moves_df.to_csv('moves_df.csv')