In [6]:
import pandas as pd

In [7]:
#importing moves dataset from kaggle
pokeset_w_moves = "/Users/felix/Downloads/archive(2)/pokedex.csv"

In [8]:
poke_moves_df = pd.read_csv(pokeset_w_moves)

In [9]:
poke_moves_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809 entries, 0 to 808
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            809 non-null    int64
 1   Name          809 non-null    object
 2   Type 1        809 non-null    object
 3   Type 2        405 non-null    object
 4   Abilities     809 non-null    object
 5   Category      809 non-null    object
 6   Height (ft)   809 non-null    object
 7   Height (m)    809 non-null    float64
 8   Weight (lbs)  809 non-null    float64
 9   Weight (kg)   809 non-null    float64
 10  Capture Rate  809 non-null    int64
 11  Egg Steps     809 non-null    int64
 12  Exp Group     809 non-null    object
 13  Total         809 non-null    int64
 14  HP            809 non-null    int64
 15  Attack        809 non-null    int64
 16  Defense       809 non-null    int64
 17  Sp. Attack    809 non-null    int64
 18  Sp. Defense   809 non-null    int64
 19  Speed         809 non-null    int64
 20  Moves         809 non-null    object
dtypes: float64(3), int64(10), object(8)
memory usage: 132.9+ KB

In [7]:
len(poke_moves_df)

809

In [8]:
column_names = list(poke_moves_df.columns.values)
column_names

['Id',
 'Name',
 'Type 1',
 'Type 2',
 'Abilities',
 'Category',
 'Height (ft)',
 'Height (m)',
 'Weight (lbs)',
 'Weight (kg)',
 'Capture Rate',
 'Egg Steps',
 'Exp Group',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Attack',
 'Sp. Defense',
 'Speed',
 'Moves']

In [11]:
#extracting only the columns we care about
moves_df = poke_moves_df[['Name','Moves']]
moves_df.head()

         Name                                              Moves
0   Bulbasaur  {'Tackle': {'Type': 'Normal', 'Level': '—', 'P...
1     Ivysaur  {'Tackle': {'Type': 'Normal', 'Level': '—', 'P...
2    Venusaur  {'Petal Dance': {'Type': 'Grass', 'Level': 'Ev...
3  Charmander  {'Scratch': {'Type': 'Normal', 'Level': '—', '...
4  Charmeleon  {'Scratch': {'Type': 'Normal', 'Level': '—', '...

In [12]:
%store moves_df

Stored 'moves_df' (DataFrame)

In [13]:
moves_df.to_csv('moves_df.csv')